*
!.gitignore

# Only keep the files I want
!.bashrc
!.config
!.config/alacritty
!.config/alacritty/alacritty.yml
!.config/autostart
!.config/autostart/pygrid.desktop
!.config/dotfiles
!.config/dotfiles/install.yml
!.config/nvim
!.config/nvim/init.vim
!.config/nvim/coc-settings.json
!.config/nvim/requirements.txt
!.config/pygrid.json
!.config/ranger
!.config/ranger/*
!.config/termite
!.config/termite/config
!.ctags
!.profile
!README.md
!.scripts
!.scripts/*
!.zshrc
