*
!.gitignore

# Only keep the files I want
!.bashrc
!.config
!.config/alacritty
!.config/alacritty/alacritty.yml
!.config/autostart
!.config/autostart/pygrid.desktop
!.config/dotfiles
!.config/dotfiles/*
!.config/i3
!.config/i3/*
!.config/nvim
!.config/nvim/requirements.txt
!.config/nvim/init.lua
!.config/nvim/lua
!.config/nvim/lua/*
!.config/nvim/lua/config
!.config/nvim/lua/config/*
!.config/nvim/lua/lang
!.config/nvim/lua/lang/*
!.config/nvim/plugin
!.config/nvim/plugin/*
!.config/picom
!.config/picom/*
!.config/polybar
!.config/polybar/*
!.config/polybar/scripts
!.config/polybar/scripts/*
!.config/polybar/source
!.config/polybar/source/*
!.config/pygrid.json
!.config/ranger
!.config/ranger/*
!.config/rofi
!.config/rofi/*
!.config/termite
!.config/termite/config
!.config/tmux
!.config/tmux/tmux.conf
!.ctags
!.profile
!README.md
!.scripts
!.scripts/*
!.xprofile
!.zshrc
