*
!.gitignore

# Only keep the files I want
!.bashrc
!.config
!.config/alacritty
!.config/alacritty/alacritty.yml
!.config/autostart
!.config/autostart/pygrid.desktop
!.config/dotfiles
!.config/dotfiles/*
!.config/i3
!.config/i3/*
!.config/nvim
!.config/nvim/init.vim
!.config/nvim/coc-settings.json
!.config/nvim/requirements.txt
!.config/nvim/filetypes
!.config/nvim/filetypes/*
!.config/nvim/filetypes/settings/*
!.config/nvim/general
!.config/nvim/general/*
!.config/nvim/plugins
!.config/nvim/plugins/*
!.config/nvim/plugins/settings/*
!.config/nvim/utils
!.config/nvim/utils/snips
!.config/picom
!.config/picom/*
!.config/polybar
!.config/polybar/*
!.config/polybar/scripts
!.config/polybar/scripts/*
!.config/polybar/source
!.config/polybar/source/*
!.config/pygrid.json
!.config/ranger
!.config/ranger/*
!.config/rofi
!.config/rofi/*
!.config/termite
!.config/termite/config
!.ctags
!.profile
!README.md
!.scripts
!.scripts/*
!.xprofile
!.zshrc
