[Desktop Entry]
Type=Application
Exec=/usr/bin/python3 /home/jon/bin/pygrid/pygrid.py
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=pygrid
Name=pygrid
Comment[en_US]=Lauch pygrid tiler
Comment=Lauch pygrid tiler
